//- Created by chuclucillo on 13/11/15
footer
    #copyright(style="text-align:center").
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
        <br />
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Auction-Scrapper</span>
        by <a xmlns:cc="http://creativecommons.org/ns#" href="https://bitbucket.org/Chuclucillo" property="cc:attributionName" rel="cc:attributionURL">Chuclucillo</a><br />
        is licensed under a <br /><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution 4.0 International License</a>